---
---

<div class="giscus" style="margin-top: 3rem; padding-top: 2rem; border-top: 1px solid rgb(var(--color-border));">
  <script src="https://giscus.app/client.js"
    data-repo="gongzhimin/blog"
    data-repo-id="R_kgDOSEUzRQ"
    data-category="General"
    data-category-id="DIC_kwDOSEUzRc4C6-3w"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="light"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>
